
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    font-family: 'Roboto', sans-serif;
    background-size: contain;
    background-image: url('/Images/fundo2.png');
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center; 
}

.container-body {
    min-height: 100vh;
    max-width: 1440px;
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    position: relative;
}

.logo img {
    width: 150px;
}

nav ul li {
    padding: 0 0 10px 10px;
    display: inline-block;
    padding: 10px 40px;
    border-radius: 10px;
    background-color: #E6E6E6;
    transition: all 0.3s ease-in-out;
}

nav ul li a {
    text-decoration: none;
    font-size: 16px;
    color: #333;
    padding: 10px 20px;
    border-radius: 10px;
}

nav ul li:hover {
    background: rgba(255, 255, 255, 0.3); 
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
}

nav ul li:hover a {
    color: #bb0d0d; 
    text-decoration-color: #f42121;
}


.container-hero-stats {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -125px;

}
.container-hero {
    width: 60%;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    
    position: relative;
    height: 80vh;
}

.hero-text {
    max-width: 100%;
}

.hero-text h1 {
    font-size: 48px;
    color: #333;
}

.hero-text p {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
}

.explore-button {
    background-color: #fff;
    border: 2px solid #333;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.explore-button:hover {
    background-color: #333;
    color: #fff;
}

.hero-image img {
   z-index: -1;
   filter: drop-shadow(-1px 2px 2px #737373);
}

.stats {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: rgb(238, 238, 238);
    border: 1px solid;
    border-radius: 25px;
    filter: blur(1);
    margin-top: -25px;
}

.stat-item {
    text-align: center;
}

.stat-item span {
    font-size: 48px;
    color: #333;
}

.stat-item p {
    font-size: 18px;
    color: #666;
}

.banner-sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    border: #333 1px solid;
    padding-left: 20px;
    border-radius: 25px;
    margin-top: 10px;
    background-size: contain;
    background-position: -25px;
    background-position-x: right;
    background-repeat: no-repeat;
    filter: drop-shadow(-1px 2px 2px #737373);
}

.banner-text {
    width: 40%;
}

.banner-title {
    font-size: 48px;
    color: #333;
}

.banner-text {
    font-size: 18px;
    color: #333;
    width: 80%;
    
}

.cor-vermelha {
    color:#f42121;
}

.banner-image {
    width: 60%;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
}

.banner-img {
    width: 127%;
    
}

 .container-login {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    text-align: center;
}

.container-login h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left; 
}

.form-group label {
    display: block;
    font-size: 14px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.login-button:hover {
    background-color: #0056b3;
}

/*cadastro_animais*/
