* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    font-family: 'Roboto', sans-serif;
    background-size: contain;
    background-image: url('/Images/fundo2.png');
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center; 
}

.container-body {
    min-height: 100vh;
    max-width: 1440px;
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    position: relative;
}

.logo img {
    width: 150px;
}

nav ul li {
    padding: 0 0 10px 10px;
    display: inline-block;
    padding: 10px 40px;
    border-radius: 10px;
    background-color: #E6E6E6;
    transition: all 0.3s ease-in-out;
}

nav ul li a {
    text-decoration: none;
    font-size: 16px;
    color: #333;
    padding: 10px 20px;
    border-radius: 10px;
}

nav ul li:hover {
    background: rgba(255, 255, 255, 0.3); 
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
}

nav ul li:hover a {
    color: #bb0d0d; 
    text-decoration-color: #f42121;
}


.container-hero-stats {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -125px;

}
.container-hero {
    width: 60%;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    
    position: relative;
    height: 80vh;
}

.hero-text {
    max-width: 100%;
}

.hero-text h1 {
    font-size: 48px;
    color: #333;
}

.hero-text p {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
}

.explore-button {
    background-color: #fff;
    border: 2px solid #333;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.explore-button:hover {
    background-color: #333;
    color: #fff;
}

.hero-image img {
   z-index: -1;
   filter: drop-shadow(-1px 2px 2px #737373);
}

.stats {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: rgb(238, 238, 238);
    border: 1px solid;
    border-radius: 25px;
    filter: blur(1);
    margin-top: -25px;
}

.stat-item {
    text-align: center;
}

.stat-item span {
    font-size: 48px;
    color: #333;
}

.stat-item p {
    font-size: 18px;
    color: #666;
}

.banner-sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    border: #333 1px solid;
    padding-left: 20px;
    border-radius: 25px;
    margin-top: 10px;
    background-size: contain;
    background-position: -25px;
    background-position-x: right;
    background-repeat: no-repeat;
    filter: drop-shadow(-1px 2px 2px #737373);
}

.banner-text {
    width: 40%;
}

.banner-title {
    font-size: 48px;
    color: #333;
}

.banner-text {
    font-size: 18px;
    color: #333;
    width: 80%;
    
}

.cor-vermelha {
    color:#f42121;
}

.banner-image {
    width: 60%;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
}

.banner-img {
    width: 127%;
    
}

 .container-login {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    text-align: center;
}

.container-login h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left; 
}

.form-group label {
    display: block;
    font-size: 14px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.login-button:hover {
    background-color: #0056b3;
}

/*
--------------------------------------------------------------------------------
*/

/*Adote*/

.titulo{
    text-align: center;
}

#animalGallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.animal-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin: 10px;
    overflow: hidden;
    width: 30%; 
    color: #333;
    transition: transform 0.2s; /* Adiciona uma transição suave para o efeito de hover */
}

.animal-card:hover {
    transform: translateY(-10px); /* Efeito de elevação ao passar o mouse */
}

.animal-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.animal-card .content {
    padding: 15px;
}

.animal-card h3 {
    margin-top: 0;
    font-size: 1.2em;
}

.animal-card p {
    margin: 5px 0;
    font-size: 0.9em;
}

.botao-adotar {
    background-color: #4CAF50; /* Verde */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.filtroEspecie {
    margin-left: 50px;
}

#filtroEspecie {
    margin-top: 50px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/*cadastro_animais*/

#animalForm {
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    box-decoration-break: clone;
    
}
#descricaoCirurgia {
    width: 350px; /* Define a largura fixa */
    height: 50px; /* Define a altura fixa */
    resize: none; /* Impede o redimensionamento */
}


#animalForm h2 {
    margin-top: 0;
}

.form-grid {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr; /* Duas colunas com largura igual */
    gap: 20px; /* Espaçamento entre as colunas */
}

.coluna {
    /* Estilos opcionais para cada coluna */
}

#tabelaAnimais {
    width: 100%;
    border-collapse: collapse;
}

#tabelaAnimais th, #tabelaAnimais td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

#tabelaAnimais td img {
    max-width: 100px;
    height: auto;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    text-align: center;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
